<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Registry User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<nav th:replace="fragmentos/header_loader"></nav>

	<div class="container my-5">
		<h3>Registry User</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<!-- <tr th:each="producto : ${listaProductos}"> -->
					<div class="alert alert-danger "
						th:if="${not #strings.isEmpty(Error)}">
						<div th:each="error : ${Error}">
							<p th:text="${error}">
						</div>
					</div>


					<form th:action="@{/Cliente/create-cliente}"
						th:object="${Cliente}" method="post">
						<div class="row">

							<div class="form-group col-md-8">

								<label for="nombre" class="col-form-label">Nombre : </label> <input
									type="text" th:field="*{nombre}" class="form-control"
									id="nombre" name="nombre" placeholder="Nombre">

							</div>

							<div class="form-group col-md-8">
								<label for="apellido" class="col-form-label">Apellido :
								</label> <input type="text" th:field="*{apellido}" class="form-control"
									id="apellido" name="apellido" placeholder="Apellido">

							</div>

							<div class="form-group col-md-8">
								<label for="fnacimiento" class="col-form-label">Fecha de
									Nacimiento : </label> <input type="date" th:field="*{fnacimiento}"
									class="form-control" id="fnacimiento" name="fnacimiento"
									min="01-01-1800" placeholder="Ejemplo: 17-02-1987">
							</div>



							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email : </label> <input
									type="email" th:field="*{email}" class="form-control"
									id="email" name="email" placeholder="example@example.com">

							</div>



							<div class="form-group col-md-8">
								<label for="direccion" class="col-form-label">Dirección
									de Envío: </label> <input type="text" th:field="*{direccion}"
									class="form-control" id="direccion" name="direccion"
									placeholder="Direccion">

							</div>

							<div class="form-group col-md-8">
								<label for="password" class="col-form-label">Password</label> <input
									type="password" th:field="*{password}" class="form-control"
									id="password" name="password" placeholder="Password">
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Sign Up">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>