<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Indices</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>

<body>
	<nav th:replace="fragmentos/header_loader"></nav>
	<br />
	<br />

	<div class="container col-md-12">
		<h1 class="card-header bg-dark text-light" id="productosOferta"
			th:utext="#{h1.productosOferta}"></h1>
		<br />
		<!--  <script th:src="@{/js/accionHome.js}"></script>-->

		<div class="row">
			<div th:if="${productoPage != null}">
				<div th:each="producto : ${productoPage.content}">
					<div th:if="${producto.descuento > 0.00 }">

						<div class="col">
							<div class="card" style="width: 20rem;">
								<div id="funcionListaProducto"
									th:if="${not #lists.isEmpty(producto.imagen)}">

									<div th:each="imagen, istat : ${producto.imagen}">
										<div th:if="${istat.index == 0}">
											<img class="card-img-top"
												th:src="@{/ImagenProducto/imagen/{idProducto}/{idImagen}(idProducto=${producto.idProducto}, idImagen=${imagen.idImagen})}"
												style="height: 250px" />
										</div>
										<!-- each -->
									</div>
									<!-- is empty -->
								</div>

								<div th:if="${#lists.isEmpty(producto.imagen)}">
									<img class="card-img-top"
										th:src="@{/imagen/productoSinFoto.png}" style="height: 250px" />
								</div>


								<hr />

								<div class="card-body">
									<h5 class="card-title">
										<a
											th:href="@{/Producto/perfil-producto/{idProducto}(idProducto=${producto.idProducto})}"
											class="text-right"> <label for="titulo" id="titulo"
											class="col-form-label" th:utext="#{label.titulo}"></label> <span
											th:text="${producto.titulo}"></span>
										</a>
									</h5>

									<div class="d-flex flex-row-reverse">
										<div class="p-2 mb-2 bg-light text-dark">
											<label for="precio" id="precio" class="col-form-label"
												th:utext="#{label.precio}"></label>


											<p th:text="${producto.precio} + '&euro;'"></p>
										</div>

										<div class="p-2 mb-2 bg-danger text-white">
											<p th:text="${producto.descuento} + ' %'">
										</div>
										<!-- d-flex -->
									</div>
									<!-- card-body -->
								</div>
								<!-- card -->
							</div>
							<!-- col -->
						</div>
						<!-- stats -->
					</div>
					<!-- each producto -->
				</div>
			</div>
			<!-- row -->
		</div>
		<nav aria-label="..." th:if="${productoPage.totalPages > 0}">
			<ul class="pagination pg-blue pagination-lg justify-content-center">
				<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
					class="page-link"
					th:href="@{/index(size=${productoPage.size}, page=${pageNumber})}"
					th:text=${pageNumber}></a></li>

			</ul>
		</nav>
		<!-- card -->
		<!-- container -->
	</div>
</body>
</html>

