<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Modificar Banco</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
	<nav th:replace="fragmentos/header_loader"></nav>

	<div class="container my-5">
		<h3>Modificar Banco</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<!-- th:action="@{/Banco/editar-banco/{idCliente}/{idBanco}(idCliente=${Cliente.idCliente},idBanco=${Banco.idBanco})}" -->
					<form action="#" th:object="${Banco}" method="post"
						id="modificarBanco">
						<div class="row">
							<input id="idCliente" type="hidden"
								th:value="${Cliente.idCliente}"> <input id="idBanco"
								type="hidden" th:value="${Banco.idBanco}">

							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Nombre : </label> <input
									type="text" th:field="*{nombre}" class="form-control"
									id="nombre" name="nombre" placeholder="Nombre"
									pattern="[A-Za-z]*{3,40}"
									title="Sólo letras Tamaño mínimo: 3. Tamaño máximo: 40"
									required>
							</div>


							<div class="form-group col-md-8">

								<label for="numTarjeta" class="col-form-label"> Número
									de Tarjeta : </label> <input type="text" th:field="*{numTarjeta}"
									class="form-control" id="numTarjeta" name="numTarjeta"
									maxlength="19" placeholder="Ejemplo: xxxx xxxx xxxx xxxx"
									pattern="[0-9]{13,19}" required>

								<!-- mensaje de error de numero de banco -->
								<div id="errorNumBanco"></div>
							</div>


							<div class="form-group col-md-8">
								<label for="titular" class="col-form-label"> Titular : </label>
								<input type="text" th:field="*{titular}" class="form-control"
									id="titular" name="titular" placeholder="Ejemplo: Juan"
									pattern="[A-Za-z]*{3,40}"
									title="Sólo letras Tamaño mínimo: 3. Tamaño máximo: 40"
									required>
							</div>

							<div class="form-group col-md-8">
								<label for="codSeguridad" class="col-form-label">Código
									de Seguridad : </label> <input type="text" th:field="*{codSeguridad}"
									class="form-control" id="codSeguridad" name="codSeguridad"
									minlength="3" maxlength="3" size="3" placeholder="012"
									pattern="[0-9]{3}" title="Sólo número, 3 dígitos" required>
							</div>



							<div class="form-group col-md-8">
								<label for="dirFactura" class="col-form-label">Dirección
									de Factura: </label> <input type="text" th:field="*{dirFactura}"
									class="form-control" id="dirFactura" name="dirFactura"
									placeholder="C/ XXXX NX PX " minlength="5" maxlength="200"
									title="Sólo letras y numeros. Tamaño mínimo: 5. Tamaño máximo: 200"
									required>
							</div>


							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Modificar">
							</div>

						</div>
					</form>

					<script th:src="@{/js/accionBancoForm.js}"></script>
				</div>
			</div>
		</div>
	</div>
</body>

</html>