<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Perfil de Producto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<style>
/* Make the image fully responsive */
.carousel-inner img {
	width: 100px;
	height: 300px;
}
</style>
</head>


<body>

	<nav th:replace="fragmentos/header_loader"></nav>

	<br />
	<br />

	<div class="container my-2">
		<div class="row">

			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div id="carouselExampleControls" class="carousel slide"
							data-ride="carousel">

							<div class="carousel-inner"
								th:each="imagen, istat :${ListaImagen}">

								<div th:switch="${istat.index}">
									<div th:case="'0'" class="carousel-item active">
										<img class="d-block w-100" th:src="${imagen.urlImagen}"
											th:attr="alt=${imagen.idImagen}" />
									</div>

									<div th:case="*" class="carousel-item">
										<img class="d-block w-100" th:src="${imagen.urlImagen}"
											th:attr="alt=${imagen.idImagen}" />
									</div>
								</div>
							</div>

							<a class="carousel-control-prev" href="#carouselExampleControls"
								role="button" data-slide="prev"> <span
								class="carousel-control-prev-icon" aria-hidden="true"></span> <span
								class="sr-only">Previous</span>

							</a> <a class="carousel-control-next" href="#carouselExampleControls"
								role="button" data-slide="next"> <span
								class="carousel-control-next-icon" aria-hidden="true"></span> <span
								class="sr-only">Next</span>
							</a>
							<!-- carousel slide -->
						</div>
						<!-- card-body -->
					</div>
					<!-- card -->
				</div>
				<!-- colsm-6 -->
			</div>


			<div class="col-sm-6">
				<div class="card-body">
					<h5 class="card-title" th:text="${Producto.titulo}"></h5>
					<p class="card-text">
						Precio : <span th:text="${Producto.precio}"></span>
					</p>
					<p class="card-text">
						Descuento : <span th:text="${Producto.descuento}"></span>
					</p>

					<div sec:authorize="hasAuthority('ROL_ADMIN')">
						<!-- Añadir imagen -->
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#addImagenes">Añadir Imágenes</button>
						<br />

						<form action="#"
							th:action="@{/ImagenProducto/create-imagenProducto/{idProducto}(idProducto=${Producto.idProducto})}"
							th:object="${imagenProducto}" method="post"
							enctype="multipart/form-data">
							<!-- Modal -->
							<div class="modal fade" id="addImagenes" tabindex="-1"
								role="dialog" aria-labelledby="addImagenesLabel"
								aria-hidden="true">


								<div class="modal-dialog" role="document">
									<div class="modal-content">

										<div class="modal-header">
											<h5 class="modal-title" id="addImagenesLabel">Añadir
												Imágenes</h5>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>



										<div class="modal-body">

											<div class="form-group col-md-8">
												<label for="imagenFile" class="col-form-label">Nombre
													Categoría : </label> <input type="file" class="form-control"
													id="imagenFile" name="imagenFile"
													placeholder="Nombre de Categoría">
											</div>

										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<input type="submit" class="btn btn-primary" value="Save">
											<!-- / modal footer -->
										</div>
										<!-- modal content -->
									</div>
									<!-- /modal dialog -->
								</div>
								<!-- modal fade -->
							</div>
							<!-- / form de añadir la categoria -->
						</form>
						<!-- / has authori -->
					</div>
					<!-- cardbody -->
				</div>
				<!-- col sm -6 -->
			</div>
			<br /> <br />

			<div class="row">

				<div class="card">

					<h4>¿Tienes Algunas preguntas?</h4>
					<br />
					<form method="post"
						th:action="@{/Producto/enviar-pregunta/{idProducto}(idProducto=${Producto.idProducto})}">
						<div class="form-group">
							<label for="textoPregunta">Preguntas</label>
							<textarea class="form-control" id="textoPregunta"
								name="textoPregunta" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-primary mb-2">Enviar</button>
					</form>



					<div th:if="${listaPreguntas != null}">
						<div th:each="pregunta : ${listaPreguntas}">
							<p>
								Pregunta : <span th:text="${pregunta.texto}"></span>
							</p>
							<p>
								By : <span th:text="${pregunta.clientes.nombre}"></span>
							</p>
							<a class="btn btn-outline-info" href="#"
								th:href="@{/Producto/respuesta-producto/{idPregunta}(idPregunta=${pregunta.idPregunta})}">Ver
								la respuesta</a>
							<hr />

						</div>
						<!-- listaPreguntas -->
					</div>
					<!-- card w75 -->
				</div>
				<!-- row -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>

</body>

</html>