<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Perfil de Producto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>


<body>

	<nav th:replace="fragmentos/header_loader"></nav>

	<br />
	<br />
	<h1 th:text="${Producto.titulo}"></h1>
	<br />
	<br />

	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<h5 th:text="${Producto.titulo}"></h5>
				<p>Precio : <span th:text="${Producto.precio}"></span></p>
				
				<p>Descuento : <span th:text="${Producto.descuento}"></span></p>
				
				<hr />
				<h4>¿Tienes Algunas preguntas?</h4>
				<form method="post"
					th:action="@{/Producto/enviar-pregunta/{idProducto}(idProducto=${Producto.idProducto})}">
					<div class="form-group">
						<label for="textoPregunta">Preguntas</label>
						<textarea class="form-control" id="textoPregunta"
							name="textoPregunta" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary mb-2">Enviar</button>
				</form>

				<div th:if="${listaPreguntas != null}">
					<div th:each="pregunta : ${listaPreguntas}">
						<p>
							Pregunta : <span th:text="${pregunta.texto}"></span>
						</p>
						<p>
							By : <span th:text="${pregunta.clientes.nombre}"></span>
						</p>
						<a class="btn btn-outline-info" href="#"
							th:href="@{/Producto/respuesta-producto/{idPregunta}(idPregunta=${pregunta.idPregunta})}">Ver
							la respuesta</a>
						<hr />

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>