<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Perfil de Producto</title>
<!-- Required meta tags -->
<meta http-equiv=”Content-Type” content="text/html;" charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/starRating.css}">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<style>
/* Make the image fully responsive */
.carousel-inner img {
	width: 100px;
	height: 350px;
}
</style>
</head>


<body>

	<nav th:replace="fragmentos/header_loader"></nav>

	<br />
	<br />

	<div class="container-fluid">
		<h1 class="card-header">
			Producto : <span th:text="${Producto.titulo}"></span>
		</h1>
		<br />

		<div class="row">
			<input type="hidden" id="idProducto" name="idProducto"
				th:value="${Producto.idProducto}"> <input type="hidden"
				id="idUsuario" name="idUsuario" th:value="${session.idUsuario}">


			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div id="carouselExampleControls" class="carousel slide"
							data-ride="carousel">

							<div class="carousel-inner"
								th:each="imagen, istat :${ListaImagen}">

								<div th:switch="${istat.index}">
									<div th:case="'0'" class="carousel-item active">
										<img class="d-block w-100" th:src="${imagen.urlImagen}"
											th:alt="${imagen.idImagen}" />
									</div>

									<div th:case="*" class="carousel-item ">
										<img class="d-block w-100" th:src="${imagen.urlImagen}"
											th:alt="${imagen.idImagen}" />
										<!-- case *  -->
									</div>
									<!-- case 0 -->
								</div>
								<!-- switch -->
							</div>

							<a class="carousel-control-prev" href="#carouselExampleControls"
								role="button" data-slide="prev"> <span
								class="carousel-control-prev-icon" aria-hidden="true"></span> <span
								class="sr-only">Previous</span>

							</a> <a class="carousel-control-next" href="#carouselExampleControls"
								role="button" data-slide="next"> <span
								class="carousel-control-next-icon" aria-hidden="true"></span> <span
								class="sr-only">Next</span>
							</a>
							<!-- carousel slide -->
						</div>
						<br /> <br />

						<!-- Details añadir,modificar, eliminar imagen de Producto -->
						<div sec:authorize="hasAuthority('ROL_ADMIN')">
							<!-- Añadir imagen -->
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#addImagenes">Modificación Imágenes</button>

							<form action="#" id="uploadFile"
								th:action="@{/ImagenProducto/action-imagenProducto/{idProducto}(idProducto=${Producto.idProducto})}"
								method="post" enctype="multipart/form-data">

								<!-- Modal -->
								<div class="modal fade" id="addImagenes" tabindex="-1"
									role="dialog" aria-labelledby="addImagenesLabel"
									aria-hidden="true">

									<!-- Modal dialog -->
									<div class="modal-dialog" role="document">
										<div class="modal-content">

											<!-- modal-header -->
											<div class="modal-header">
												<h5 class="modal-title" id="addImagenesLabel">Imágenes</h5>

												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<!-- ./modal-content -->
											</div>


											<div class="modal-body">
												<!-- Añadir imagenes -->


												<label for="imagenFile" class="col-form-label">Selecciona
													Imagen : </label> <input type="file" class="form-control"
													id="imagenFile" name="imagenFile"
													placeholder="Nombre de Categoría">

												<!-- / form de añadir la categoria -->
												<br />
												<!-- Selecciona Imagen -->

												<input id="showIdImagenProducto" name="showIdImagenProducto"
													type="hidden">

												<div class="form-check form-check-inline">
													<div th:each="lista : ${ListaImagen}">

														<input class="form-check-input" type="radio"
															name="inlineRadioOptions"
															th:id="'imagen_'+${lista.idImagen}"
															th:value="${lista.idImagen}"
															onclick="obtenerIdImagen(this.value)"> <label
															class="form-check-label"
															th:for="'imagen_'+${lista.idImagen}"> <img
															th:src="${lista.urlImagen}"
															style="width: 100px; height: 100px" />
														</label>

														<!-- each lista imagen-->
													</div>
													<script>
														function obtenerIdImagen(
																idImagen) {
															document
																	.getElementById("showIdImagenProducto").value = idImagen;
														}
													</script>
													<!-- form-check -->
												</div>
												<!-- modalbody -->
											</div>


											<div class="modal-footer">


												<input type="submit" class="btn btn-success buttonSaveImage"
													id="buttonSaveImage" name="action" value="save">
												<button type="submit"
													class="btn btn-warning buttonEditImage" name="action"
													value="update">Editar</button>
												<button type="submit"
													class="btn btn-danger buttonDeleteImage" name="action"
													value="delete">Eliminar</button>
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>

												<!-- / modal footer -->
											</div>
											<!-- modal content -->
										</div>
										<!-- /modal dialog -->
									</div>
									<!-- modal fade -->
								</div>
								<!-- actionImagen -->
							</form>
							<!-- / has authori -->
						</div>
						<!-- card-body -->
					</div>
					<!-- card -->
				</div>
				<!-- col-4 -->
			</div>


			<!-- Details producto -->
			<div class="col-md-8">
				<div class="card">
					<div class="card-body lead">
						<h1 class="card-title" th:text="${Producto.titulo}"></h1>
						<hr />
						<p class="card-text">
							<span class="font-weight-bold">Descripción : </span><span
								th:text="${Producto.descripcion}"></span>
						</p>

						<p class="card-text">
							<span class="font-weight-bold">Precio : </span><span
								th:text="${Producto.precio} + ' &euro;'"></span>
						</p>
						<p class="card-text">
							<span class="font-weight-bold">Descuento : </span><span
								class="text-danger" th:text="${Producto.descuento} + ' %'"></span>
						</p>

						<p class="card-text" th:switch="${Producto.stock}">
							<span class="font-weight-bold">Stock : </span><span th:case="'0'">No
								Stock</span> <span th:case="*" class="text-success">Stock</span>
						</p>


						<a href="#"
							th:href="@{/Compra/comprarProducto/{idCliente}/{idProducto}(idCliente = ${session.idUsuario}, idProducto = ${Producto.idProducto})}">
							<button type="button" class="btn btn-outline-success">
								Añadir al Carrito</button>
						</a>


						<!-- cardbody de producto -->
					</div>
					<!-- card -->
				</div>
				<!-- col-6 -->
			</div>
			<!-- row -->
		</div>

		<br />
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<h3 class="card-header">¿Tienes Algunas preguntas?</h3>
					<div class="card-body">
						<div class="col-md-10">
							<div class="form-group">
								<label for="textoPregunta">Escribe tus Preguntas</label>

								<textarea class="form-control" id="textoPregunta"
									name="textoPregunta" rows="4"></textarea>
								<br />
								<button class="btn btn-primary mb-2 enviarPregunta"
									id="enviarPregunta">Enviar</button>

							</div>


							<div id="listaPregunta" th:switch="${listaPreguntas}">
								<div class="lead" th:case="*">
									<div th:each="pregunta : ${listaPreguntas}">
										<p id="idPregunta" style="display: none;"
											th:text="${pregunta.idPregunta}"></p>

										<p>
											Pregunta : <span th:text="${pregunta.texto}"></span>
										</p>

										<!-- th:href="@{/Producto/respuesta-producto/{idPregunta}(idPregunta=${pregunta.idPregunta})}" -->
										<a class="btn btn-outline-info showRespuesta"
											id="showRespuesta"
											th:href="@{/Producto/respuestaProducto/{idPregunta}(idPregunta = ${pregunta.idPregunta})}">Ver
											la respuesta</a>
										<hr />
										<!-- each pregunta -->
									</div>
									<!-- th:case *  -->
								</div>
								<!-- listaPreguntas -->
								<div class="lead" th:case="'null'">
									<p>No hay preguntas.</p>
								</div>

								<script th:src="@{/js/accionPreguntas.js}"></script>
								<!-- lisraPregunta -->
							</div>
							<!-- co-md-10 -->
						</div>
						<!-- card-body -->
					</div>
					<!-- card -->
				</div>
				<!-- col-md-8 -->
			</div>

			<div class="col-md-4">
				<div class="card">
					<!--  accion de valoracion de Estrellas. -->

					<h4 class="text-info card-header">Valora nuestro producto</h4>
					<div id="aviso"></div>
					<div class="card-body">
						<h3>
							Valoracion Media : <span class="text-warning"
								th:text=" ${Producto.valoracionMedia}"></span>
						</h3>
						<x-star-rating value="0" number="5"></x-star-rating>

					</div>
					<script th:src="@{/js/accionValoracionEstrella.js}"></script>
					<br /> <br /> <br /> <br /> <br />
					<!-- card -->
				</div>
				<!-- col-md-4 -->
			</div>
			<!-- row -->
		</div>
		<!-- card -->
	</div>
	<!-- container -->
</body>

</html>