<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body>

	<nav th:replace="fragmentos/header_loader"></nav>

	<div class="container">

		<br /> <br />


		<h1>Productos</h1>
		<br />

		<div class="alert alert-danger " th:if="${not #strings.isEmpty(msg)}">
			<div th:each="error : ${msg}">
				<p th:text="${error}">
			</div>
		</div>
		
		

		<div class="panel panel-default">
			<h4 class="panel-heading">Productos:</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Código Producto</th>
						<th>Título</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th>Descuento</th>
						<th>Ver Perfil</th>
						<th>Añadir a Carrito</th>

					</tr>
				</thead>

				<tbody>

					<tr th:each="producto, iterator : ${listaProductos}">
						<td th:text=" ${producto.codProducto}"></td>
						<td th:text=" ${producto.titulo}"></td>
						<td th:text=" ${producto.descripcion}"></td>
						<td th:text=" ${producto.precio}"></td>
						<td th:text=" ${producto.descuento}"></td>

						<td><a
							th:href="@{/Producto/perfil-producto/{idProducto}(idProducto=${producto.idProducto})}"
							class="btn btn-primary text-right">Ver</a></td>
						<td><a href=#
							th:href="@{/Compra/comprarProductoCategoria/{idCliente}/{idProducto}{idCliente}(idCliente=${session.idUsuario}, idProducto = ${producto.idProducto})}">
								<button type="button" class="btn btn-outline-success">
									Añadir</button>
						</a></td>

					</tr>
				</tbody>
			</table>
			<a href="#" th:href="@{/Categoria/list-4product-user/{idCategoria}(idCategoria=${categoria.idCategoria})}">

				<button class="btn btn-lg btn-success btn-block" type="submit">
					<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>Ver siguientes productos
				</button>
			</a>
		</div>
	</div>
</body>
</html>